@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,500;0,700;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,500;0,700;1,500;1,700&display=swap');
nav{
    padding-top: 30px;
    width: 1134px;
    display: flex;
    justify-content: flex-end;
}
nav a{
    list-style: none;
    text-decoration: none;
    color: #01010D;
}
.links{
    margin-right: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
}

.increase a{
    margin-top: -2px;
    font-weight: 700;
    font-size: 18px;
    border-bottom: 3px solid #1617DB;
    transform: rotate(0deg);
    padding-bottom: 15px;
}
.btn{
    text-transform: uppercase;
    border-style: none;
    margin-top: -15px;
    width: 154px;
    height: 51px;
    left: 1211.51px;
    top: 24.72px;
    background: #1617DB;
    border-radius: 6px;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
}