.section{
    margin: 0 auto;
    width: 1056px;
    height: 1045px;
}
.title{
    margin: 90px auto 25px auto;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 51px;
    line-height: 120%;
}
.under-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}
.blocks{
    display: flex;
    height: 640px;
    width: 170px;
    flex-wrap: wrap;
}
.block{
    margin-top: 35px;
    height: 220px;
    width: 160px;
}
.block-ico{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-position: center;
    width: 100px;
    height: 100px;
    border: 1px solid #dce3e3;
    border-radius: 50%;
}
.block-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 20px;
}
.block-under-title{
    margin-top: 7px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    color: #01010D;
    opacity: 0.8;
}
.familiarization-picture{
    width: 440px;
    height: 420px;
    background-image: url('./app-section1-img/Watches-picture.png');
    background-repeat: no-repeat;
}
.familiarization{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}