.header{
    max-width: 1600px;
    min-height: 800px;
    background: url('./app-header.img/background-picture.png')no-repeat;
    background-size: cover;
    position: relative;
}
.header-info{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 210px;
    width: 1290px;
}
.header-right{
    margin-left: 70px;
    width: 829.1px;
    height: 509.78px;
    background: url('./app-header.img/pngwing.png') no-repeat;
}
.h5 a{
    list-style: none;
    text-decoration: none;
}
.h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 67px;
    line-height: 120%;
    margin-bottom: 25px;
}
h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 50px;
}
.buttons{
    display: flex;
    justify-content: space-between;
    width: 330px;
}
.btn{
    justify-content: center;
    display: flex;
    align-items: center;
}
.btn-inherit{
    justify-content: center;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    border: 2px solid rgba(22, 23, 219, 0.2);
    border-radius: 6px;
    margin-top: -15px;
    width: 154px;
    height: 51px;
    left: 1211.51px;
    top: 24.72px;
    background: inherit;
    border-radius: 6px;
    color: #6565EC;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
}
.crooked-picture{
    position: absolute;
    width: 95.69px;
    height: 484.07px;
    left: -123.87px;
    top: -120.77px;
    background-size: cover;
    background: url('./app-header.img/man-hand.png');
    transform: rotate(58.58deg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}